.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid rgba(0, 0, 0, 0.348);
  gap: 20px;
  padding: 2px;
}
.toggle-menu-box {
  border: 2px solid black;
  padding: 2px;
  position: relative;
}
.header-left-controls-container {
  display: flex;
  flex-direction: row;
}
.search-icon {
  padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png")
    no-repeat left;
  background-size: 20px;
}
